* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    padding: 20px;
    background-color: rgba(5, 62, 116, 0.867);
    font-family: 'Courier New';
}
.navbar a{
    text-decoration: none;
    color: white;
    padding: 5px;
    font-size: 20px;
}
.navbar ul {
    list-style: none;
}
.navbar a:hover {
    color: rgb(10, 10, 10, 0.8);
}

.header {
    padding: 20px;
    background-color: rgba(5, 62, 116, 0.867);
    color: white;
    text-align: center;
    font-family: 'Courier New';
    font-size: 25px;
}
.hero {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}
.hero-image {
    width: 100%;
    height: auto;
}
.hero-text {
    font-size: 45px;
    font-family: 'Courier New';
    color: rgb(10, 10, 10, 0.2);

}
.hero-text #center {
    color: rgb(10, 10, 10, 0.6);
}
.hero h1:not(#center) {
    line-height: 0.5;
}


@media (max-width:768px) {
    
    .hero {
        flex-direction: column;
    }
    .hero-image {
        width: 100%;
        height: auto;
    }
    .hero-text h1:not(#center) {
        display: none;
    }
    .hero-text #center {
        font-size: 25px;
        color: rgb(10, 10, 10, 0.8);
           
    }
    .navbar{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}


