* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.header {
    padding: 20px;
    background-color: rgb(74, 43, 2);
    color: white;
    text-align: center;
    font-family: 'Courier New';
    font-size: large;
}